body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

.custab {
    border: 1px solid #ccc;
    padding: 5px;
    padding-top: 5px;
    margin: 5% 0;
}

.contentBloco {
    padding: 5px;
    margin: 1% 0;
}

.table tbody > tr > td {
    vertical-align: middle;
}

.rightButtonsMargin{
    margin-bottom: 15px;
}

textarea {
    resize: none;
    width: 100%;
}

.link-100{
    width: 100%;
    height: 100%;
    padding: 15px;
}

.custab td {
    padding-bottom: 5px;
}

.contact-buttom-index {
    overflow: auto;
}

.wrap-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid Gray;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.wrap-btn:hover {
    text-decoration: none;
}

.contact-buttom-index > div {
    padding-right: 60px;
}

.adicionadoAlready > span{
    padding-right: 10px;
}